<!-- <div id="home">
    <div class="nav">
        <img class="logo" src="assets/img/logo_sin_fondo.png" alt="Ciberbank">
        <div class="botones">
            <button class="btn btn-naranja">Ingresar</button>
        </div>
    </div>
    <div class="main">
        <h1>Notificaciones<wbr> en tiempo real</h1>
        <img class="img-notification" src="assets/img/notifications.svg" alt="Notificaciones">
    </div>
    <div class="footer">
        <div class="buttons-footer">
            <button class="btn btn-icono">Registrarse</button>
            <button class="btn btn-naranja">Ingresar</button>
        </div>
    </div>
</div> -->
<app-sidebar></app-sidebar>
<app-chatbot></app-chatbot>