:host {
    width: calc(100vw - var(--nav-width));
    float: right;
    height: 100vh;
    padding: 1rem 2rem;
    transition: .5s;
}

.home_container {
    height: calc(100% - 3.5rem);
    width: 100%;
}

.balance {
    height: 150px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    background-color: var(--colorGris);
    border-radius: .5rem;
    padding: 1rem 2rem;
    margin-top: 1.5rem;
}

@media (min-width: 768px) {
    /* #home {
        display: grid;
        grid-template-rows: 8vh 1fr 10vh;
        overflow-x: hidden;
    }

    .botones {
        display: block;
    }
    
    .nav {
        justify-content: center;
    } */
}